
/* <tagname style="property:value;"> */

:root {
    --fundo_da_pagina: rgba(7, 7, 7, 0.7);
    --texto: rgb(255, 255, 255);
    --link: rgb(0, 255, 255);
    --link_visitado: rgb(0, 140, 140);
    --link_pressionado: rgb(255, 0, 0);
    --preto: rgb(0, 0, 0);
}

*[id] {
    scroll-margin-top: 4em;
}

body {
    background-color: var(--fundo_da_pagina);
    color: var(--texto);
    display: block;
    font-family: sans-serif;
    font-size: 0.8em;
    margin: 0px;
    min-height: 100vh;
}

p {
    display: block;
    font-size: 0.8em;
    font-weight: 500;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: 700;
    margin-block-end: 0.67em;
    margin-block-start: 0.67em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

h2 {
    display: block;
    font-size: 1.8em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
}

h3 {
    display: block;
    font-size: 1.6em;
    font-weight: 700;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

h4 {
    display: block;
    font-size: 1.4em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
}

h5 {
    display: block;
    font-size: 1.2em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
}

h6 {
    display: block;
    font-size: 1em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
    overflow: auto;
}

div {
    display: block;
}

b {
    font-weight: 700;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}

em {
    font-style: italic;
}

mark {
    background-color: yellow;
    color: black;
}

del {
    text-decoration: line-through;
}

ins {
    text-decoration: underline;
}

sub {
    vertical-align: sub;
    font-size: 0.7em;
}

sup {
    vertical-align: super;
    font-size: 0.7em;
}

q {
    display: inline;
}

q::before {
    content: "\"";
}

q::after {
    content: "\"";
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

abbr[title] {
    text-decoration: underline dotted;
}

address {
    display: block;
    font-style: italic;
}

cite {
    font-style: italic;
}

a {
    color: var(--link);
    font-weight: 600;
    cursor: pointer;
}

a:visited {
    color: var(--link_visitado);
}

a:active {
    color: var(--link_pressionado);
}

img {
    display: block;
    height: auto;
    width: 100%;
}

table {
    border: 1px solid var(--texto);
    border-collapse: collapse;
    margin: 0.8em 0 0.8em 0;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    /* Se quiser bordas separadas passe para border-collapse: separate; e defina o tamanho com border-spacing: ; */

    /* Se quiser colocar o título da tabela no topo ou no fim da tabela ou na posição que foi informada use caption-side: top|bottom|initial|inherit; */

    /* Se quiser que as células vazias não contabilizem, use empty-cells: hide; caso contrário deixe o padrão que é empty-cells: show; lembre-se que este atributo só funciona se o border-collapse for separate*/

    /* table-layout: fixed; pega o tamanho da tabela e recorta igualmente o espaço para cada coluna, se trocar o valor para auto o tamanho das colunas agirá de acordo com o conteúdo armazenado */
}      

tr {
    display: table-row;
    vertical-align: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

th, td {
    border: 1px solid var(--texto);
    overflow: auto;
    padding: 0.4em 0.8em 0.4em 0.8em;
}

thead {
    border: 2.1px solid var(--texto);
    box-shadow: 1px 1px 6px var(--preto);
    display: table-header-group;
    vertical-align: middle;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tfoot {
    border: 2.1px solid var(--texto);
    box-shadow: 1px 1px 6px var(--preto);
    display: table-footer-group;
    vertical-align: middle;
}

thead tr, thead th, tfoot tr,  tfoot th {
    border: 2.1px solid var(--texto);
}

caption {
    font-size: 1.4em;
    font-weight: 900;
    display: table-caption;
    text-align: -webkit-center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    list-style-type: unset;
    margin: 0.625em 0px;
    display: list-item;
    text-align: left;
}

iframe {
    display: block;
    height: 150px;
    width: 100%;
}

details {
    display: block;
    margin: 1em 0em 1em 0em;
}

details[open] > summary:first-of-type {
    list-style-type: disclosure-open;
}

details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
}

button {
    cursor: pointer;
    display: block;
    margin: 1em 0px 1em 0px;
}

label[for] {
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

.margem_p {
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.conteudo {
    overflow: auto;
    margin: 0px 20px;
}

.w_auto {
    width: auto !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_6 {
    flex: 0 0 50%;
    overflow: auto;
    width: 50%;
}

.col_12 {
    flex: 0 0 100%;
    overflow: auto;
    width: 100%;
}

.overflow_auto {
    overflow: auto !important;
}














.tag_em_linha::before {
    content: "< ";
}

.tag_em_linha::after {
    content: " />";
}

.tag_aberta::before {
    content: "< ";
}

.tag_aberta::after {
    content: " >";
}

/* Impede de selecionar o texto, logo não é possível marcar o texto em azul */
.nao_grifavel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}















/* Small - Pequeno - sm */
@media (min-width: 576px) {
    body {
        font-size: 1em;
    }
    
    p {
        font-size: 1em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1.6em;
    }

    h5 {
        font-size: 1.4em;
    }

    h6 {
        font-size: 1.2em;
    }


    .w_sm_50 {
        width: 50% !important;
    }

}

/* Medium - Médio - md */
@media (min-width: 768px) {
    .w_md_50 {
        width: 50% !important;
    }

    .col_md_6 {
        flex: 0 0 50%;
        overflow: auto;
        width: 50%;
    }
    
    .col_md_12 {
        flex: 0 0 100%;
        overflow: auto;
        width: 100%;
    }
}

/* Large - Largo - lg */
@media (min-width: 992px) {
    .w_lg_50 {
        width: 50% !important;
    }
}

/* Extra large - Extra largo - xl */
@media (min-width: 1200px) {
    .w_xl_50 {
        width: 50% !important;
    }
}
